* {
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+/Edge */
    user-select: none;
    /* Standard */
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #111111;
    height: 100px;
}

.header_navigation {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 2rem 0 2rem;
}

.header_logo {
    margin-left: 1rem;
    margin-bottom: 5px;
    margin-right: px;
}

.header_logo a {
    color: white;
    text-decoration: none;
    font-size: 28px;
    font-family: "Calibri", serif;
}

.spacer {
    flex: 1;
}

.header_navitems ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.header_navitems li {
    padding: 0px 12.5px 0px 12.5px;
    font-family: "Calibri", serif;
    color: white;

}

.header_logo {
    margin-left: 0;
    margin-top: 2px;
    margin-right: 15px;
}

button {
    display: inline-block;
    height: 100px;
    color: white;
    text-decoration: none;
    background-color: #111111;
    border: none;
    font-family: "Calibri", serif;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
}

button:hover {
    color: #D1363A;
    animation: none;
}