* {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #245a0f;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5rem;
    box-sizing: border-box;
    z-index: 100;
    overflow: hidden;
}

.header_logo a {
    color: white;
    text-decoration: none;
    font-size: 25px;
    font-family: "Calibri", serif;
}

.header_spacer {
    height: 70px;
}

@media screen and (max-width: 1050px) {
    .header {
        display: none;
    }

    .header_spacer {
        display: none;
    }
}