.carousel-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    padding-top: 30px;
    background-color: #FAF8F3;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.button {
    color: black;
    margin: 0 15px;
    cursor: pointer;
    border: none;
    background: transparent;
    transition: all 0.3s ease;
    height: 50px;
    opacity: 50%;
    padding: 0;
    margin: 0;
    margin-right: 40px;
    text-align: left;
    font-size: 20px;
}

.button.active {
    color: black;
    opacity: 100%;
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 20px;
}

.card-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
