body {
  height: 100%;
}

.about-me-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  max-width: 1200px;
  height: 55vh;
  margin: 0 auto;
  background-color: #FAF8F3;
  border-radius: 10px;
  overflow: hidden;
}

.left-rectangle {
  width: 70%;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.left-rectangle h1 {
  font-size: 45px;
  margin-bottom: 15px;
  text-align: left;
}

.left-rectangle p {
  font-size: 16px;
  line-height: 1.6;
  text-align: left;
  color: #555;
}

.right-rectangle {
  display: flex;
  justify-content: flex-end;
}

.right-rectangle img {
  width: 300px;
  height: auto;
}

.right-rectangle footer {
  font-size: 14px;
  color: #777;
  margin-top: 10px;
}

.linkedin-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4C956C;
  color: white;
  border: none;
  border-radius: 10px;
  width: 220px;
  height: 60px;
  padding: 10px;
  cursor: pointer;
  margin-top: 15px;
}

.linkedin-button:hover {
  opacity: 80%;
}

.linkedin-icon {
  margin-right: 10px;
  width: 20px;
  height: 20px;
}

@media screen and (max-width: 1050px) {
  .about-me-wrapper {
    flex-direction: column;
    align-items: center;
    height: auto;
    background-color: #FAF8F3;
  }

  .left-rectangle {
    width: 100%;
    align-items: center;
    text-align: center;
  }

  .left-rectangle p {
    width: 100%;
    text-align: center;
  }

  .linkedin-button {
    width: 80%;
    max-width: 220px;
    margin-top: 15px;
    align-self: center;
  }

  .right-rectangle {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 10px;
  }

  .right-rectangle img {
    width: 80%;
    max-width: 300px;
    height: auto;
  }
}